<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luoziyuan.powerrecord">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GRANT_RUNTIME_PERMISSIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_battery"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_battery_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MyService" />

        <receiver android:name=".appWidget.MyAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_app_widget_info" />
        </receiver>

        <activity
            android:name=".activity.PowerListActivity"
            android:label="耗电排行"/>

        <activity
            android:name=".activity.PowerDetailActivity"
            android:label="耗电详情"/>

        <activity
            android:name=".activity.GuideActivity"
            android:label="使用引导"/>
    </application>

</manifest>